@model OpenPac.Models.CandidateIssue

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CandidateIssue</legend>

    <div class="display-label">Importance</div>
    <div class="display-field">@Model.Importance</div>

    <div class="display-label">Candidate</div>
    <div class="display-field">@(Model.Candidate == null ? "None" : Model.Candidate.LastName)</div>

    <div class="display-label">Issue</div>
    <div class="display-field">@(Model.Issue == null ? "None" : Model.Issue.Name)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


